## Russell 3000 Index

I have a PDF of the Russell 3000 constituents, and I want to extract all stock tickers and company names.

https://www.ishares.com/us/products/239714/ishares-russell-3000-etf and click "Download" for the XLSX (maybe XML?)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

#import PyPDF2
#from PyPDF2 import PdfReader

In [2]:
#reader = PdfReader("ru3000_membershiplist_20210628.pdf")
#text = ""
#for page in reader.pages:
#    text += page.extract_text() + "\n"

In [6]:
russell_df = pd.read_csv('russell_3000_index.csv')

russell_df.head()

,Ticker,Name,Sector,Asset Class,Market Value,Weight (%),Notional Value,Shares,Price,Location,Exchange,Currency,FX Rate
0,AAPL,APPLE INC,Information Technology,Equity,"627,609,535.64",6.08,"627,609,535.64","4,028,044.00",155.81,United States,NASDAQ,USD,1.0
1,MSFT,MICROSOFT CORP,Information Technology,Equity,"504,709,879.66",4.89,"504,709,879.66","1,971,061.00",256.06,United States,NASDAQ,USD,1.0
2,AMZN,AMAZON COM INC,Consumer Discretionary,Equity,"298,546,176.05",2.89,"298,546,176.05","2,341,355.00",127.51,United States,NASDAQ,USD,1.0
3,TSLA,TESLA INC,Consumer Discretionary,Equity,"181,066,099.74",1.75,"181,066,099.74","670,094.00",270.21,United States,NASDAQ,USD,1.0
4,GOOGL,ALPHABET INC CLASS A,Communication,Equity,"170,894,796.00",1.66,"170,894,796.00","1,584,560.00",107.85,United States,NASDAQ,USD,1.0

In [12]:
russell_df.dtypes

Ticker             object
Name               object
Sector             object
Asset Class        object
Market Value       object
Weight (%)        float64
Notional Value     object
Shares             object
Price              object
Location           object
Exchange           object
Currency           object
FX Rate           float64
dtype: object

In [14]:
russell_df[['Ticker','Name']]

      Ticker                           Name
0       AAPL                      APPLE INC
1       MSFT                 MICROSOFT CORP
2       AMZN                 AMAZON COM INC
3       TSLA                      TESLA INC
4      GOOGL           ALPHABET INC CLASS A
...      ...                            ...
2692    GTXI                 GTXI INC - CVR
2693  P5N994           Petrocorp Inc Escrow
2694     TFM            FRESH MARKET ESCROW
2695    ESU2            S&P500 EMINI SEP 22
2696   RTYU2  RUSSELL 2000 EMINI CME SEP 22

[2697 rows x 2 columns]

In [22]:
equity_df = russell_df[russell_df['Asset Class']=='Equity']

equity_df = equity_df[['Ticker', 'Name', 'Sector', 'Shares', 'Location', 'Exchange']]

In [23]:
equity_df

,Ticker,Name,Sector,Shares,Location,Exchange
0,AAPL,APPLE INC,Information Technology,"4,028,044.00",United States,NASDAQ
1,MSFT,MICROSOFT CORP,Information Technology,"1,971,061.00",United States,NASDAQ
2,AMZN,AMAZON COM INC,Consumer Discretionary,"2,341,355.00",United States,NASDAQ
3,TSLA,TESLA INC,Consumer Discretionary,"670,094.00",United States,NASDAQ
4,GOOGL,ALPHABET INC CLASS A,Communication,"1,584,560.00",United States,NASDAQ
...,...,...,...,...,...,...
2690,TYDE,CRYPTYDE INC,Materials,"7,034.00",United States,NASDAQ
2691,WLLBW,CHORD ENERGY EQUITY WARRANTS SERIE,Energy,204.00,United States,Non-Nms Quotation Service (Nnqs)
2692,GTXI,GTXI INC - CVR,Health Care,684.00,United States,NASDAQ
2693,P5N994,Petrocorp Inc Escrow,Industrials,"1,248.00",United States,Non-Nms Quotation Service (Nnqs)
2694,TFM,FRESH MARKET ESCROW,Consumer Staples,"10,847.00",United States,NASDAQ

In [24]:
ticker_list = equity_df['Ticker']

In [27]:
ticker_list[:100]

0      AAPL
1      MSFT
2      AMZN
3      TSLA
4     GOOGL
      ...
95      TJX
96      ZTS
97     ISRG
98      CCI
99     VRTX
Name: Ticker, Length: 100, dtype: object

### Pulling SCT pay from 100 tickers directly

In [43]:
from sec_api import ExecCompApi
import json
import time
from time import sleep

In [29]:
execCompApi = ExecCompApi('324614ace318064f2aa8dcd8ca0f8c5e79647f3dd5b45be7afcadca465924e6a')

In [39]:
#define a function with ticker argument that pulls SCT pay

def SCTpay_puller(ticker):
    result_ticker = execCompApi.get_data(f'{ticker}')
    
    #saving the dictionary as a text file
    with open(f'SCT_datasets/{ticker}_SCTpay_20220906.txt', 'w') as converted_file:
        converted_file.write(json.dumps(result_ticker))

In [40]:
SCTpay_puller('AAPL')

In [48]:
start_time = time.time()

bad_ticker_list = []

for ticker in ticker_list:
    sleep(.1)
    try:
        SCTpay_puller(ticker)
    except:
        bad_ticker_list.append(ticker)
        print(f"Ticker {ticker} throws an error")
    
print(f"This code took {time.time() - start_time} seconds")

Ticker MANH throws an error
Ticker MPW throws an error
Ticker AFG throws an error
Ticker GLOB throws an error
Ticker RRC throws an error
Ticker UGI throws an error
This code took 1610.8598699569702 seconds

In [46]:
for ticker in ticker_list[100]:
    print(ticker)

S
Y
K