### Scratch notes playing with aggregated data

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#from collections import defaultdict
#from pathlib import Path
import json

import os 
import time 

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
russell_df = pd.read_csv('russell_3000_index.csv')

ticker_list = russell_df['Ticker']

In [4]:
#seeding the DataFrame
#reading the data from a file
with open('SCT_datasets/A_SCTpay_20220906.txt') as f:
    a_txt = f.read()
    
#converting the text string into a dictionary
a_dict = json.loads(a_txt)

starter_df = pd.DataFrame(a_dict)

In [5]:
start_time = time.time()

for ticker in ticker_list:
    try:
        with open(f'SCT_datasets/{ticker}_SCTpay_20220906.txt') as f:
            ticker_txt = f.read()
        ticker_dict = json.loads(ticker_txt)    
        #ticker_df = pd.DataFrame(ticker_dict)
        starter_df = pd.concat([starter_df,pd.DataFrame(ticker_dict)])
    except:
        print(f'Ticker {ticker} threw an error')
    
        
        
print(f"This code took {time.time() - start_time} seconds")

Ticker XTSLA threw an error
Ticker USD threw an error
Ticker MANH threw an error
Ticker MPW threw an error
Ticker AFG threw an error
Ticker GLOB threw an error
Ticker RRC threw an error
Ticker UGI threw an error
Ticker MSFUT threw an error
Ticker ESU2 threw an error
Ticker RTYU2 threw an error
This code took 51.33444881439209 seconds

In [6]:
starter_df.reset_index(inplace=True,drop=True)

In [7]:
starter_df.head()

,id,cik,ticker,name,position,year,salary,bonus,stockAwards,optionAwards,nonEquityIncentiveCompensation,otherCompensation,total,changeInPensionValueAndDeferredEarnings
0,73b3a60ba203743c008330c96b7d8b66,1090872,A,Sam Raha,"Senior Vice President, President Diagnostics a...",2021,563500,0,1541332,0,738536,33534,3262887,NaN
1,97393f60cd9f321650e472673daaa70c,1090872,A,Michael R. McMullen,Chief Executive Officer,2021,1280000,0,9165390,0,3149714,77512,15967631,NaN
2,83b9cc2bca477fe8ce23e0ab56e70c66,1090872,A,Jacob Thaysen,"Senior Vice President, President Life Sciences...",2021,625000,0,1812285,0,897589,13684,3802349,NaN
3,7c60bb804071675ae15ec930f6dea190,1090872,A,Robert McMahon,"Senior Vice President, Chief Financial Officer",2021,663500,0,2291271,0,1007000,176196,4711733,NaN
4,259b710a8befe67c61a2c3dec14f344a,1090872,A,Padraig McDonnell,"Senior Vice President, President Cross-Lab Group",2021,495000,0,1249771,0,686716,499472,3243927,NaN

In [8]:
starter_df[starter_df['ticker']=='PEBO']

,id,cik,ticker,name,position,year,salary,bonus,stockAwards,optionAwards,nonEquityIncentiveCompensation,otherCompensation,total,changeInPensionValueAndDeferredEarnings
149365,91c58dad0ee8c8a0fd163df3ec6d162c,318300,PEBO,Charles W. Sulerzyski,President and Chief Executive Officer,2021,658750,0,226971,0,481000,94735,1461456,0.0
149366,85e1efbe382ba6565f1e37dac31648c7,318300,PEBO,Jason M. Eakle,"Executive Vice President, Chief Credit Officer",2021,222500,10000,29969,0,100000,28262,390738,7.0
149367,ffac9385dff5e2170ff3145a77bb6c8a,318300,PEBO,Kathryn M. Bailey,"Executive Vice President, Chief Financial Offi...",2021,262500,10000,29969,0,120000,31438,453907,0.0
149368,d7738f5cc8b716c0254b95196a2f16da,318300,PEBO,Douglas V. Wyatt,"Executive Vice President, Chief Commercial Ban...",2021,287501,10000,49990,0,120000,32012,499503,0.0
149369,c35e3a8e1e9ae69ca06ccfb9807cd543,318300,PEBO,Tyler J. Wilcox,"Executive Vice President, Community Banking",2021,262500,10000,39980,0,120000,32575,465078,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149468,52ac6eb16a4df97107f8047396a3a9e2,318300,PEBO,Carol A. Schneeberger,"Chief Financial Officer, Treasurer and Executi...",2006,164800,0,0,13950,27522,11262,245248,NaN
149469,3b6ec7a47edaa8cc46ab3eb404ca48b5,318300,PEBO,Larry E. Holdren,"Executive Vice President, Business and Corpora...",2006,162080,0,0,11172,22367,13036,263952,NaN
149470,fec9e7192ea8dc8198ae22a0683367b2,318300,PEBO,Mark F. Bradley,President and Chief Executive Officer,2006,250000,0,0,4426,56750,11793,335691,NaN
149471,8b10a4e06d0b048ae36d744b6b2472c8,318300,PEBO,Joseph S. Yazombek,"Executive Vice President, Chief Lending Officer",2006,200850,0,17505,42114,35330,0,309457,NaN
149472,ef60e15d06b8e6ec4c632f9dfcf02621,318300,PEBO,David T. Wesel,Executive Vice President,2006,150000,0,0,1764,38100,13840,207177,NaN

### Exploring the mistakes

In [11]:
mistakes_df = pd.read_csv('mistakes.csv').drop(columns='Unnamed: 0')

In [12]:
mistakes_df['ticker'].value_counts()

FBMS    60
MAA     29
JEF      8
CSR      8
PEBO     2
PDFS     2
VBIV     2
CMPR     1
SWTX     1
AIG      1
REI      1
XRX      1
Name: ticker, dtype: int64

In [24]:
starter_df[starter_df['ticker'].isin(set(mistakes_df['ticker'])) == False].reset_index(drop=True)

,id,cik,ticker,name,position,year,salary,bonus,stockAwards,optionAwards,nonEquityIncentiveCompensation,otherCompensation,total,changeInPensionValueAndDeferredEarnings
0,73b3a60ba203743c008330c96b7d8b66,1090872,A,Sam Raha,"Senior Vice President, President Diagnostics a...",2021,563500,0,1541332,0,738536,33534,3262887,NaN
1,97393f60cd9f321650e472673daaa70c,1090872,A,Michael R. McMullen,Chief Executive Officer,2021,1280000,0,9165390,0,3149714,77512,15967631,NaN
2,83b9cc2bca477fe8ce23e0ab56e70c66,1090872,A,Jacob Thaysen,"Senior Vice President, President Life Sciences...",2021,625000,0,1812285,0,897589,13684,3802349,NaN
3,7c60bb804071675ae15ec930f6dea190,1090872,A,Robert McMahon,"Senior Vice President, Chief Financial Officer",2021,663500,0,2291271,0,1007000,176196,4711733,NaN
4,259b710a8befe67c61a2c3dec14f344a,1090872,A,Padraig McDonnell,"Senior Vice President, President Cross-Lab Group",2021,495000,0,1249771,0,686716,499472,3243927,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172769,65031058801add0364554c29d65e6347,1489979,TFM,Craig Carlock,,2009,0,0,0,0,0,15067,1475018,NaN
172770,c37aabf7f94134aef1f9497a544392b6,1489979,TFM,Sean Crane,,2009,0,0,0,0,0,23181,1670897,NaN
172771,329cc12c3b0109ea681cab39a198225b,1489979,TFM,Lisa Klinger,,2009,0,0,0,0,0,95105,2330074,NaN
172772,bb696be59ae7c1bde8d37ae07477efd1,1489979,TFM,Marc Jones,and Marketing,2009,209500,75000,0,880273,0,15827,1180600,NaN
172773,bf33a4c26486beec8111c5fe8a2f7592,1489979,TFM,Randy Kelley,,2009,0,0,0,0,0,16384,681341,NaN